
<li>
  <div>
    <%= user.name%>
  </div>
  <% if current_user.admin? && !current_user?(user) %>
    <div>
      | <%= link_to "削除", user, method: :delete,
                          data: { confirm: "削除してよろしいですか？"},class: "btn btn-primary" %>
    </div>
    <div class="panel-group" id="sampleAccordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title btn btn-primary" style="color:white">
            <a data-toggle="collapse" data-parent="#sampleAccordion" href="#sampleAccordionCollapse1<%= user.id%>">
              編集
            </a>
          </h3>
        </div>
        <div id="sampleAccordionCollapse1<%= user.id%>" class="panel-collapse collapse">
          <div class="panel-body">
            <%= form_for(user) do |f| %>
              <%= f.label :name%>
              <%= f.text_field :name, class: "form-control" %>

              <%= f.label :email%>
              <%= f.email_field :email, class: "form-control" %>
              
              <%= f.label :department %>
              <%= f.text_field :department, class:"form-control" %>

              <%= f.label :employee_number %>
              <%= f.number_field :employee_number, class:"form-control" %>

              <%= f.label :uid %>
              <%= f.number_field :uid, class:"form-control" %>

              <%= f.label :basic_time %>
              <%= f.time_field :basic_time, class:"form-control" %>

              <%= f.label :designated_work_start_time %>
              <%= f.time_field :designated_work_start_time, class:"form-control" %>

              <%= f.label :designated_work_end_time %>
              <%= f.time_field :designated_work_end_time, class:"form-control" %>

              <%= f.label :password%>
              <%= f.password_field :password, class: "form-control" %>

              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, class: "form-control" %>

              <%= f.submit "更新する", class: "btn btn-primary"%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</li>