<% provide(:title, '勤怠表示') %>
<div class="row">
  <table class = "table-bordered table-condensed mb-5">
    <tr>
      <td>
        <% if current_user?(@user) %>
          <%= link_to "←", user_path(params: {id: @user.id, first_day: @first_day.prev_month }),
                            class: "btn btn-xs btn-primary" %>
        <% end  %>
          &emsp;<%= @first_day.to_s(:year_month) %>　時間管理表&emsp;
        <% if current_user?(@user) %>
          <%= link_to "→", user_path(params: {id: @user.id, first_day: @first_day.next_month }),
                          class: "btn btn-xs btn-primary" %>
        <% end %>
      </td>
      <td>
        指定勤務開始時間　<%= format_basic_time(@user.designated_work_start_time) %><br>
        指定勤務終了時間　<%= format_basic_time(@user.designated_work_end_time) %>
      </td>
      <td colspan="3">基本勤務時間時間　<%= format_basic_time(@user.basic_time) %></td>
      <td>初日　<%= @first_day.to_s(:date) %></td>
    </tr>
    <tr>
      <td>所属：<%= @user.department.present? ? @user.department : "未設定" %></td>
      <td>氏名：<%= @user.name %></td>
      <td>コード</td>
      <td><%= @user.employee_number %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日　<%= @last_day.to_s(:date) %></td>
    </tr>
  </table>

    <div class="row">
      <% if current_user.superior && current_user?(@user) %>
        <div class="mb-5 col-md-6">
          <p>
            <% unless has_month_apply.count == 0 %>
              <%= link_to "【所属長承認申請のお知らせ】", notice_month_apply_path(@user, @dates), remote: true, class:"notice-btn" %>
              <span class="notice"><%= "通知が#{has_month_apply.count}件あります" %></span>
            <% else %>
              【所属長承認申請のお知らせ】
            <% end %>
          </p>
          <p>
            
            <% unless has_change_apply.count == 0 %>
              <%= link_to "【勤怠変更申請のお知らせ】", notice_change_apply_path(@user, @dates), remote: true, class:"notice-btn" %>
              <span class="notice"><%= "通知が#{has_change_apply.count}件あります" %></span>
            <% else %>
              【勤怠変更申請のお知らせ】
            <% end %>
          </p>
          <p>
            <% unless has_overtime_apply.count == 0 %>
            <%= link_to "【残業申請のお知らせ】", notice_overtime_apply_path(@user, @dates), remote: true, class:"notice-btn" %>
              <span class="notice"><%= "通知が#{has_overtime_apply.count}件あります" %></span>
            <% else %>
              【残業申請のお知らせ】
            <% end %>
          </p>
        </div>
      <% end %>
    </div>

    <% if current_user?(@user) %>
      <div class="mb-5">
        <%= link_to "勤怠を編集", edit_attendances_path(@user, @first_day), class: "btn btn-primary" %>
        <%= link_to "CSV出力", user_path(format: :csv), class: "btn btn-primary" %>
      </div>
      <div class="mb-5">
        <%= link_to "勤怠修正ログ(承認済)", approved_attendance_path(@user, @first_day), remote: true, class: "btn btn-primary" %>
      </div>
    <% end %>
  <table class = "table-bordered table-striped table-condensed mb-5">
    <thead>
      <tr>
        <th rowspan = "3">残業申請</th>
        <th rowspan = "3">日付</th>
        <th rowspan = "3">曜日</th>
        <th colspan = "8">【実績】</th>
        <th colspan = "5">【所定外勤務】</th>
      </tr>
      <tr> <!--rowspan:縦結合、colspan：横結合-->
        <th colspan = "3">出社</th>
        <th colspan = "3">退社</th>
        <th rowspan = "2">在社時間</th>
        <th rowspan = "2">備考</th>
        <th colspan = "2">終了予定時間</th>
        <th rowspan = "2">時間外時間</th>
        <th rowspan = "2">業務処理内容</th>
        <th rowspan = "2">指示者確認&#x329e;</th>
      </tr>
      <tr>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
        <th></th>
        <th>時</th>
        <th>分</th>
      </tr>
    </thead>
    <tbody>
      <% @dates.each do |day| %>
        <tr>
          <td>
            <% if current_user?(@user) %>
              <%= link_to "残業申請", overtime_apply_path(@user, day.worked_on), remote: true, class: "btn btn-xs btn-primary" %>
            <% end %>
          </td>
          <td><%= day.worked_on.to_s(:date) %></td>
          <td class='<%= "wday#{day.worked_on.wday}"%>'>
            <%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %>
          </td>
          <% if day.change_started_at.present? && day.change_finished_at.present? && day.change_status == "承認" %>
            <td><%= day.change_started_at.floor_to(15.minutes).to_s(:hour) if day.change_started_at.present? %></td>
            <td><%= day.change_started_at.floor_to(15.minutes).to_s(:min) if day.change_started_at.present? %></td>
            <td>
              <% if day.worked_on == Date.today && day.change_started_at.nil? %>
                <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" if current_user?(@user) %>
              <% end %>
            </td>
            <td><%= day.change_finished_at.to_s(:hour) if day.change_finished_at.present? %></td>
            <td><%= day.change_finished_at.floor_to(15.minutes).to_s(:min) if day.change_finished_at.present? %></td>
            <td>
              <% if day.worked_on == Date.today && day.started_at.present? && day.change.finished_at.nil? %>
                <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" if current_user?(@user) %>
              <% end %>
            </td>
            <td>
              <% if day.change_started_at.present? && day.change_finished_at.present? %>
                <%= working_times(day.change_started_at.floor_to(15.minutes), day.change_finished_at.floor_to(15.minutes), day.change_next_day_check)%>
                <% if day.change_next_day_check == 1 %>
                  <% seconds = (day.change_finished_at.floor_to(15.minutes) - day.change_started_at.floor_to(15.minutes)  + 24.hour).to_i %>
                <% else %>
                  <% seconds = (day.change_finished_at.floor_to(15.minutes) - day.change_started_at.floor_to(15.minutes)).to_i %>
                <% end %>
                <% @total_seconds = @total_seconds.to_i + seconds %>
              <% end %>
            </td>
          <% else %>
            <td><%= day.started_at.floor_to(15.minutes).to_s(:hour) if day.started_at.present? %></td>
            <td><%= day.started_at.floor_to(15.minutes).to_s(:min) if day.started_at.present? %></td>
            <td>
              <% if day.worked_on == Date.today && day.started_at.nil? %>
                <%= button_to "出社", user_attendances_path(@user), class: "btn btn-xs btn-primary" if current_user?(@user) %>
              <% end %>
            </td>
            <td><%= day.finished_at.to_s(:hour) if day.finished_at.present? %></td>
            <td><%= day.finished_at.floor_to(15.minutes).to_s(:min) if day.finished_at.present? %></td>
            <td>
              <% if day.worked_on == Date.today && day.started_at.present? && day.finished_at.nil? %>
                <%= button_to "退社", user_attendances_path(@user), class: "btn btn-xs btn-primary" if current_user?(@user)%>
              <% end %>
            </td>
            <td>
              <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at.floor_to(15.minutes), day.finished_at.floor_to(15.minutes),day.change_next_day_check) %>
                <% seconds = (day.finished_at.floor_to(15.minutes) - day.started_at.floor_to(15.minutes)).to_i %>
                <% @total_seconds = @total_seconds.to_i + seconds %>
              <% end %>
            </td>
          <% end %>
          <td><%= day.note if day.change_status == "" || day.change_status == "承認" %></td>

          <% if day.overtime_apply_status == "承認" %>
            <td><%= day.overtime_end_time.to_s(:hour) if day.overtime_end_time.present? %></td>
            <td><%= day.overtime_end_time.floor_to(15.minutes).to_s(:min) if day.overtime_end_time.present?%></td>
            <% if day.overtime_end_time.present? && User.find(day.user_id).designated_work_end_time.present? %>
              <td><%= over_work_times(day.overtime_end_time.floor_to(15.minutes), User.find(day.user_id).designated_work_end_time.floor_to(15.minutes), day.next_day_check) %></td>
            <% else %>
              <td></td>
            <% end %>
            <td><%= day.overtime_detail if day.overtime_detail.present? %></td>
          <% else %>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          <% end %>
          <td>
            <% if day.overtime_apply_status == "申請中"%>
              残業申請：<%= User.find(day.overtime_superior_id).name %>へ申請中<br>
            <% elsif day.overtime_superior_id.present? %>
              <p class="<%= "danger-notice" if day.overtime_apply_status == "否認" %>">
                残業申請：<%= User.find(day.overtime_superior_id).name%>から<%= day.overtime_apply_status %><br>
              </p>
            <% end %>
            <% if day.change_status == "申請中"%>
              変更申請：<%= User.find(day.change_superior_id).name%>へ申請中
            <% elsif day.change_superior_id.present? %>
              <p class="<%= "danger-notice" if day.change_status == "否認" %>">
                変更申請：<%= User.find(day.change_superior_id).name%>から<%= day.change_status %>  
              </p>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td colspan = "2"><%= format_basic_time(@user.basic_time).to_f * @worked_sum %></td>
        <td colspan = "6"></td>
        <td><%= working_times_sum(@total_seconds) unless @total_seconds.nil? %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <% if current_user?(@user) %>
            <%= form_with(model: @user, url: update_month_apply_path(@user, @first_day), method: :patch) do |f| %>
              <div class="form-group">
                <% @dates.each do |date| %>
                  <%= fields_for "attendances[]", date do |af| %>
                    <% if date.month_apply_status.blank? %>
                      上長承認：未申請
                    <% elsif date.month_apply_status == "申請中" %>
                      上長承認：<%= User.find(date.superior_id).name %>へ申請中
                    <% else %>
                      <p class="<%= "danger-notice" if date.month_apply_status == "否認" %>">
                      上長承認：<%= User.find(date.superior_id).name %>から<%= date.month_apply_status%>
                      </p>
                    <% end %>
                    <%= af.collection_select :superior_id, @superiors, :id, :name, {include_blank: true, selected: nil}, {class: "form-control"} %>
                    <%= af.hidden_field :month_apply_status, value: "申請中" %>
                    <%= af.hidden_field :month_apply_date, value: @first_day %>
                  <% end %>
                  <% break %>
                <% end %>
              </div>
              <div>
                <%= f.submit "申請する", data:{confirm: "申請してよろしいですか？"}, class: "btn btn-primary"%>
              </div>
            <% end %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<!-- モーダル -->
<div id="notice_month_apply" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>
<div id="overtime_apply" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>
<div id="notice_overtime_apply" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>
<div id="notice_change_apply" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>
<div id="approved_attendance" class="modal fade" tabindex="1000" role="dialog" aria-hidden="true"></div>