<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-body">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <div class="row">
        <div class="col-md-12">
          <%= form_with(model:@user, url: confirmation_month_apply_path(@user), local:true, method: :patch) do |f| %>
            <% @users.each do |user| %>
              <% attendances = Attendance.where(user_id: user.id).where(month_apply_status: "申請中") %>
              <% attendances.each do |attendance| %>
                <% if attendance.month_apply_status.present? && attendance.superior_id == current_user.id %>
                  <h3 class="center">【<%= user.name%>】から【<%= attendance.month_apply_date.strftime("%-m月")%>】の勤怠申請</h3>
                  <table class="table table-condensed table-bordered table-hover">
                    <thead>
                      <tr>
                        <th class="center">申請月</th>
                        <th class="center">指示者確認&#x329e;</th>
                        <th class="center">変更</th>
                        <th class="center">勤怠を確認する</th>
                      </tr>
                    </thead>
                    <%= fields_for "attendances[]", attendance do |at| %>
                      <tbody>
                        <tr>
                          <td class="center"><%= attendance.month_apply_date.strftime("%-m月") %></td>
                          <td class="center">
                            <%= at.select :month_apply_status, ["なし", "申請中", "承認", "否認"], {}, class: "form-control" %>
                          </td>
                          <td class="center"><%= at.check_box :month_apply_check %></td>
                          <td class="center"><%= link_to "確認", user_path(id: user.id, date: attendance.month_apply_date), class: "btn btn-primary" %></td>
                        </tr>
                      </tbody>
                    <% end %>
                  </table>
                <% end %>
              <% end %>
            <% end %>
            <div class="center">
              <%= f.submit "変更を送信する", class: "btn btn-lg btn-primary" %>
            </div>>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>